<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BitTalk</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/chat.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <img src='static/img/logo66.svg' alt="User profile avatar" width="40" height="40">
            <h3>Мой профиль</h3>
        </div>
        <div class="search-container" >
            <input type="text" id="searchInput" placeholder="Поиск">
            <div id="searchResults"></div>
        </div>
        <div class="users-list">
            {% for chat in chat_list %}
                <div class="chat-item" data-chat-id="{{ chat.id }}" data-chat-name="{{ chat.name }}" data-chat-avatar="{{ chat.avatar }}">
                <div class="chat-item-header">
                    <img src="{{ chat.avatar }}" alt="{{ chat.name }}">
                    <h4>{{ chat.name }}</h4>
                </div>
                <div class="last-message">{{ chat.last_message_content }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="chat-container">
        <div class="chat-header">
            <img src='static/img/logo66.svg' alt="Selected user avatar" width="40" height="40">
            <h3>Чат</h3>
        </div>
        <div class="messages-container">
        </div>
        <div class="input-container">
            <input type="text" id="messageInput" placeholder="Написать сообщение">
            <button class="send-button">Отправить</button>
        </div>
    </div>
    <script src="{{ url_for('static', path='js/chat.js') }}"></script>
</body>
</html>